body { 
    font-family: Arial, sans-serif;   
}

.container {
    position: relative; /* 자식 요소가 이 컨테이너를 기준으로 위치 설정 */
    width: 500px;       /* 컨테이너 너비 */
    height: 300px;      /* 컨테이너 높이 */
    border: 1px solid #ccc; /* 컨테이너 확인용 테두리 */
}

/*네비게이션 바*/
header {
    width: 100%;
    position: fixed;
}
.navbar {
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
.navbar-toggler {
    box-shadow: none;         /* 기본 그림자 제거 */
    background: none;         /* 배경 제거 */
    border: none;             /* 버튼 테두리 제거 */
    outline: none;            /* 포커스 상태의 외곽선 제거 */
    padding: 0;               /* 여백 제거 */
    font-size: inherit;       /* 폰트 크기 상속 */
    color: inherit;           /* 텍스트 색상 상속 */
  }
  
.navbar-toggler:focus {
    box-shadow: none;         /* 포커스 상태의 그림자 제거 */
  }

.navbar.activated {
      opacity: 1;
}
.nav-link {
    font-weight: bold;
}

.nav-item {
    padding-bottom: 0px;
}

.nav-item2 {
    border: none;
    outline: none; /* 버튼이 클릭되었을 때 외곽선도 없애려면 추가 */
    line-height: 20px;
    padding: 2px;
    align-items: center;
    border-radius: 8px;
    transition: background-color 0.3s ease; /* 부드러운 효과 */
    margin: 1px;
}

.navbar-nav .nav-item .navbar-toggler {
    margin-left: 15px; /* 아이템 간 간격 */
}

.cultural-image {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 8px;

}

.fixed-top-left-gif {
    width: 150px;/*  GIF 크기 조정 */
    /* height: auto; /* 비율 유지 */
    display: block; /* 블록화로 아래 요소와 분리 */
    max-width: 100%; /* 이미지 반응형 크기 */
    height: 150px;            /* 컨테이너 높이 */
    position: relative;       /*위치 지정*/
    margin-left: 12%;
   
}


.gif-container {
    width: 200px;
    margin-top: 10px; /* 이미지와 텍스트 간격 */
    font-size: 16px; /* 텍스트 크기 조정 */
    color: #333; /* 텍스트 색상 */
    text-align: center; /* 텍스트와 이미지 정렬 */
    background-color: #f9f9f9; /* 배경색 */
    padding: 1px;
    border: 1px solid #ddd; /* 테두리 */
    border-radius: 20px; /* 모서리 둥글게 */
}

.centered-text {
    margin-top: 5px; /* 이미지와 텍스트 사이 간격 조정 */
    font-size: 16px; /* 텍스트 크기 조정 */
    color: #333; /* 텍스트 색상 */
}

.grid-container {
    display: grid; /* Grid 활성화 */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* 반응형 열*/
    padding: 1%; /* 내부 여백 */
    margin: 0 auto; /* 가운데 정렬을 위해 상하 좌우 여백 자동 */
    max-width: 1300px; /* 컨테이너의 최대 너비 설정 */
  }

/* 검색창 */

#search-app {
    display: flex;
    justify-content: space-around; /* 가운데 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    padding-left: 20px; /* 왼쪽 여백 */
    margin-top: 4.5%;
}
  

.search {
    display: flex;
    align-items: center;
    width: 60%;
    max-width: 400px;
    background-color: #ffffff; /* 검색창 배경 */
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 약간의 그림자 */
}  

.search input {
    flex: 1;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    margin-right: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
} 

 
.search button {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    background-color: #fc6c85;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search button:hover {
    background-color: #fc6c85;
}

.search button:active {
    background-color: #fc6c85;
    transform: scale(0.98); /* 클릭 시 살짝 눌리는 효과 */
}

/* gif hover */
.hoverable:hover {
    transform: scale(1.1); /* 마우스 올리면 약간 확대 */
    transition: transform 0.3s ease-in-out; /* 애니메이션 효과 추가 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

.hover-text-box {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        margin-left: 10px;
        white-space: nowrap;
        display: none;
    }

.gif-container.hoverable:hover .hover-text-box {
        display: block;
    }

 .gif-container {
        position: relative; /* 컨테이너 기준으로 텍스트 박스 위치 조정 */
    }
